%html
  %head
    %title Twitter Info Application

  %body
    %h2 Welcome

    %p
      Append a twitter username on the url to display how many followers the user has
      %br
      For example:
      %br
        %a{:href => '/user/burtlo'} /user/burtlo
